# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Git
.git/
.gitignore

# Credentials & Service Accounts
config/*.json
*firebase-adminsdk*.json
serviceAccountKey.json

# Documentation and Assets
Dockerfile
README.md
architecture.png
usecase.png
screenshots/

# Logs
*.log
npm-debug.log*

# Temp directories
tmp/
temp_uploads/
public/uploads/temp/*